<div align="center">
    <form method="post">
        <h3>
            Дано целое положительное число. Проверить истинность высказывания: «Данное число является нечетным трехзначным».
        </h3>
        <p>
            <label>Число:</label>
            <input type="text" name="a" />
        </p>
        <p>
            <input type="submit" value="Узнать" />
        </p>
    </form>
    <p>
        <label>
            Результат:
        </label>
        <label>
            @ViewBag.Result
        </label>
    </p>
    <label> @ViewBag.E</label>
</div>