<div align="center">
    <form method="post">
        <h3>Верно ли, что  cлово начинается и оканчивается на одну и ту же букву</h3>
        <p>
            <label>Слово:</label>
            <input type="text" name="a" />
        </p>
        <p>
            <input type="submit" value="Результат" />
        </p>
    </form>
    <p>
        <label>
            Результат:
        </label>
        <label>
            @ViewBag.Result
        </label>
    </p>
</div>
